<div class="index-container d-flex flex-column align-items-center mt-5">
  <div><img src="/images/beer.png" alt="beer-image" class="m-2" width="200" height="200"></div>  
 <div><button class="btn btn-primary m-1" onclick="window.location.href='/beers'">Check the Beers!</button></div> 
 <div><button class="btn btn-primary m-1" onclick="window.location.href='/random-beers'">Check a Random Beer!</button></div> 
</div>